body {
  background-color: black;
  font-family: arial;
  color: white;
}

h1 {
  color: grey;
  font-family: verdana;
  text-align: center;
}

table {
  width: 400px;
  margin: 0 auto;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
}

.button {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0 15px;
  padding: 12px 24px;
  border-radius: 8px;
  transition-duration: 0.4s;
}

/* To show the hover effect for button */
.button:hover {
    background-color: cyan;
    color: black;
  }

.highlight {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  background-color: cyan;
}

footer {
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
}
